@model CategoryIndexViewModel
@{
    ViewData["Title"] = "Category Index";
}
<main>
    <div class="search">
        <div>Search By</div>
        <form method="get">
            <label for="">Name</label>
            <input asp-for="@Model.CategoryName" placeholder="Category Name...">
            <button class="black-button" type="submit">Search</button>
        </form>
    </div>
    
    <a href="javascript:;" class="black-button add-button">Add New Category</a>
    <table class="data">
        <thead>
            <th>Action</th>
            <th>Category</th>
            <th>Floor</th>
            <th>Isle</th>
            <th>Bay</th>
            <th>Total Books</th>
        </thead>
        <tbody id="data-category">
            @if(Model.Categories.Count() == 0){
                <th colspan="6"><span class="data-empty">Data Is Empty</span></th>
            }
            @foreach(var category in Model.Categories){
                <tr>
                    <td>
                        <a asp-action="Books" asp-route-categoryName="@category.Name" class="black-button button-detail">Books</a>
                        <a href="javascript:;" id="@category.Name" class="black-button edit-button">Edit</a>
                        <a href="javascript:;" id="@category.Name" class="black-button delete-button">Delete</a>
                    </td>
                    <td>@category.Name</td>
                    <td>@category.Floor</td>
                    <td>@category.Isle</td>
                    <td>@category.Bay</td>
                    <td>@category.TotalBooks</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="pagination">
                        <span>Page @Model.Pagination.PageNumber of @Model.Pagination.TotalPages</span>
                        <span>
                            @for(int pageNumber=1; pageNumber<=Model.Pagination.TotalPages; pageNumber++){
                                <a 
                                    asp-action="Index" 
                                    asp-route-pageNumber="@pageNumber" 
                                    asp-route-categoryName="@Model.CategoryName"
                                    class="number">@pageNumber
                                </a>
                            }
                        </span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</main>

<div class="modal-layer">
    <div class="popup-dialog">
        <div class="form-upsert">
            <form id="upsert-category">
                <table> 
                    <tr>
                        <td><label>Category Name*</label></td>
                        <td>
                            <input type="text" name="categoryName" required>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Floor*</label></td>
                        <td>
                            <input type="number" name="floor" min="1" required>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Isle*</label></td>
                        <td>
                            <input type="text" name="isle" required>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Bay*</label></td>
                        <td>
                            <input type="text" name="bay" required>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                </table>
                <div class="foot-button">
                    <button class="black-button submit-button" type="submit">Submit</button>
                    <button class="black-button close-button" type="button">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/category.js"></script>