@model CustomerUpsertViewModel
@{
    ViewData["Title"] = "Customer Upsert";
}
<main>
    <div class="form-upsert">
        <form method="post">
            <table>
                <tr>
                    <td><label>Membership Number *</label></td>
                    <td>
                        @if(Model.MembershipNumber == null){
                            <input asp-for="@Model.MembershipNumber">
                        }else{
                            <input type="text" value="@Model.MembershipNumber" disabled>
                            <input type="hidden" name="MembershipNumber" value="-">
                        }
                        <span class="field-validation-error" asp-validation-for="@Model.MembershipNumber"></span>
                    </td>
                </tr>
                <tr>
                    <td><label>First Name *</label></td>
                    <td>
                        <input asp-for="@Model.FirstName">
                        <span class="field-validation-error" asp-validation-for="@Model.FirstName"></span>
                    </td>
                <tr>
                    <td><label>Last Name</label></td>
                    <td>
                        <input asp-for="@Model.LastName">
                        <div class="field-validation-error"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Birth Date *</label></td>
                    <td>
                        <input type="date" asp-for="@Model.BirthDate">
                        <span class="field-validation-error" asp-validation-for="@Model.BirthDate"></span>
                    </td>
                </tr>
                <tr>
                    <td><label>Gender *</label></td>
                    <td>
                        <div>
                            <input type="radio" asp-for="@Model.Gender" id="male" value="Male">
                            <label for="male">Male</label>
                            <input type="radio" asp-for="@Model.Gender" id="female" value="Female">
                            <label for="female">Female</label>
                        </div>
                        <span class="field-validation-error" asp-validation-for="@Model.Gender"></span>
                    </td>
                </tr>
                <tr>
                    <td><label>Phone</label></td>
                    <td>
                        <input asp-for="@Model.Phone">
                    </td>
                </tr>
                <tr>
                    <td><label>Address</label></td>
                    <td>
                        <textarea asp-for="@Model.Address"></textarea>
                    </td>
                </tr>
            </table>
            <div class="foot-button">
                <button type="submit">Submit</button>
                <a class="black-button" asp-action="Index">Back to Index</a>
            </div>
        </form>

    </div>
</main>